$mfa-error-color: rgba(255, 131, 103, 0.8);
$mfa-border-color: #e8e6e6;
$mfa-radius: 15;

.mfa-floating-password-field {
  -fx-background-color: #fff;
  -fx-border-color: $mfa-border-color;
  -fx-background-radius: $mfa-radius !important;
  -fx-border-radius: $mfa-radius !important;
  -fx-border-width: 1.5;
  -fx-padding: 0 0 0 11;
  -fx-effect: none;

  & .mfa-glyph {
    -fx-fill: none!important;
    -fx-stroke: $mfa-border-color!important;
    -fx-stroke-width: 2;
    -fx-padding: 0!important;
  }

  & .mfa-box-text {
    -fx-background-color: #fff;
    -fx-padding: 0 7 !important;
    -fx-translate-y: -9 !important;
    -fx-translate-x: -2 !important;

    & .mfa-floating-text {
      -fx-fill: #DBDBE7;
      -fx-font-family: "Google Sans Medium", arial, sans-serif;
      -fx-font-size: 12 !important;
      -fx-font-weight: 700 !important;
    }
  }

  & .mfa-box-children {
    -fx-translate-y: -7 !important;

    & .mfx-password-field {
      -fx-border-width: 0!important;
      -mfx-float-mode: DISABLED;
      -fx-border-color: #ffffff00 !important;
      -fx-background-color: #ffffff00 !important;
      -fx-padding: 0 5 0 5 !important;
      -fx-text-fill: #1F1F2F;
      -fx-prompt-text-fill: #AFB0C3;
      -fx-font-family: "Google Sans Medium", arial, sans-serif;
      -fx-font-size: 12 !important;
      -fx-font-weight: 400;

      & .mfx-text-field {
        -fx-border-color: none !important;
        -fx-background-color: none !important;
        -fx-border-width: 0!important;
        & .text-field {
          -fx-border-color: #ffffff00 !important;
          -fx-background-color: #ffffff00 !important;
          -fx-border-width: 0!important;
        }

        &:focus-within {
          -fx-border-color: #ffffff00 !important;
        }
      }

      & .text-field {
        -fx-border-color: #ffffff00 !important;
        -fx-background-color: #ffffff00 !important;
      }



      &:focus-within {
        -fx-border-color: #ffffff00 !important;
      }
    }
  }

  &:error {
    -fx-border-color: $mfa-error-color;

    & .mfa-box-text {
      & .mfa-floating-text {
        -fx-fill: $mfa-error-color;
      }
    }

    & .mfa-box-children {
      & .text-field {
        -fx-text-fill: $mfa-error-color;
      }
    }
  }

  &:focus {
    -fx-border-color: #6D27E8;

    & .mfa-box-text {
      & .mfa-floating-text {
        -fx-fill: #6D27E8;
      }
    }
  }
}



